*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
}
header {
    padding: 50px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(211, 35, 35);
    color: white;
}

header h1 {
    display: inline-block;
    font-size: 60px;
}

header nav {
    padding-top: 0px;
    margin-right: 100px;
    float: right;
    font-size: 40px;
}

header nav ul li {
    display: inline-block;
    margin-left: 50px;
}

.hero {
    height: 400px;
    width: 100%;
    margin-top: 5   px;
    background-image: url("bright-red-brick-wall-texture.jpg");
    background-position: center;
}

main {
    width: 100%;
    display: inline-block;
    margin-left: 25px;
    background-color: rgb(211, 35, 35);
}

.float-left {
    float: left;
    margin-right: 25px;
    margin-top: 25px;
}

.information {
    height: 200px;
}

.information img {
    max-height: 400px;
}